@import "tailwindcss";

@theme inline {
  --color-primary: #AB4545;
  --color-secondary: #E9B824;
  --color-black_primary: #151515;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
